#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh ${@} --parallel

override_dh_auto_configure:
	autoreconf -i

	dh_auto_configure -- --enable-debug --with-gtk=3.0 --enable-udisks

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install-exec

	$(MAKE) distclean

	dh_auto_configure -- --enable-debug --enable-gtk-doc --enable-udisks

	dh_auto_build
	dh_auto_install

	# removing unused files
	rm -f debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/*.a
	rm -f debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/*.la

override_dh_auto_test:
	# disabled: fails

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip -plibfm3 -plibfm-gtk3 -plibfm-gtk3-3 --dbg-package=libfm-dbg
	dh_strip -Nlibfm3 -Nlibfm-gtk3 -Nlibfm-gtk3-3
